flask==3.1.0
flask-wtf==1.2.2
joblib==1.4.2
tensorflow==2.18.0
numpy==2.0.2
pillow==11.0.0
scikit-learn==1.5.2
pandas==2.2.3
flask_sqlalchemy==3.1.1
flask_bcrypt==1.0.1
flask_login==0.6.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
asyncpg==0.30.0
flask-jwt-extended==4.7.1
flask-cors== 5.0.1
flask-sqlalchemy==3.1.1
xhtml2pdf==0.2.17
